.editbox {
  text-align: left;
  margin: 0 10%;
}


.editbox textarea {
  width: 100%;
  height: 300px;
  font-family: "Lucida Console", Monospace;
  font-size: 9pt;
}

div#namco106channels {
  display: none;
}

#message {
  display: none;
  position: absolute;
  left: 50%;
  top: 50px;
  margin-left: -45%;
  padding: 20px 40px;
  width: 80%;
  border: 1px solid black;
  background: white;
}

#message {
  font-family: "Trebuchet MS", Sans-Serif;
  font-size: 9pt;
}

#message pre {
  width: 100%;
  overflow: auto;
}
.player {
  background: silver;
  width: 300px;
  height: 44px;
  padding: 3px;
}

#samples {
  display: none;
  position: absolute;
  top: 120px;
  left: 45%;
  margin-left: -40%;
  width: 80%;
  background: white;
  z-index: 202;
  border: 1px solid black;
  padding: 5%;
  height: 350px;
  font-family: Verdana, Sans-Serif;
  font-size: 8pt;
}

#samples h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  border-bottom: 1px dotted silver;
}

#samples select {
  width: 100%;
  height: 260px;
}
#samples table {
  border-collapse: collapse;
  border: 1px solid silver;
  width: 100%;
}

#samples td {
  width: 30%;
  padding: 3px;
  border: 1px solid silver;
}

