#pageheader {
  font-family: Georgia, Serif;
  text-align: center;
}

#pageheader h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

#pageheader a {
  text-decoration: none;
  color: #2f2f2f;
}

#pageheader span {
  font-size: 30%;
  color: red;
}

#pageheader ul {
  font-size: 9pt;
  list-style: none;
  margin: 0;
  padding: 0;
}

#pageheader li {
  display: inline;
  padding-right: 20px;
}

#pagefooter {
  clear: both;
  margin: 30px;
}

#pagefooter p {
  font-family: Verdana, Sans-Serif;
  font-size: 8pt;
  text-align: center;
}

#pagecontent {
  font-family: "Trebuchet MS", Sans-Serif;
  font-size: 9pt;
  min-height: 400px;
}



table.listing {
  border-collapse: collapse;
  border: 1px solid silver;
}

table.listing td {
  padding: 3px;
  border: 1px solid silver;
}

table.listing a {
  display: block;
  width: 100%;
}

pre.viewmml {
  border: 1px solid black;
  width: 100%;
  white-space: pre-wrap;
}

#post textarea {
  width: 100%;
  height: 150px;
}

h2 {
    border-bottom: 1px dotted #fcfcfc;
}

#pagebody {
    margin: 0 15%;
}

#pagebody textarea {
    width: 90%;
    height: 150px;
}

.action_right {
    float: right;
    font-weight: bold;
    font-size: 8pt;
}
