<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MMLshare - Edit, play, and share MML right in your browser!</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
      <script type="text/javascript" 
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js">
      </script>
    ${self.header()}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28316739-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body ${self.bodyattrs()}>
    <div id="pageheader">
      <h1><a href="/">MMLShare</a></h1>
      <ul>
% if user:
	<li><a href="/tracks/mine">My Tracks</a></li>
	<li><a href="/samples/mine">My Samples</a></li> 
        <li><a href="/comments">Comment Tracker</a></li>
	<li><a href="/tracks">Work in Progress Tracks</a></li>
	<li><a href="/tracks/finished">Finished Tracks</a></li>
	<li><a href="http://forums.mmlshare.com/">Forums</a></li>
	<li><a href="/logout">Sign Out</a></li>
      </ul>
    </div>
% else :
	<li>Welcome Guest!</li>
	<li><a href="/tracks">Work in Progress Tracks</a></li>
	<li><a href="/tracks/finished">Finished Tracks</a></li>
	<li><a href="http://forums.mmlshare.com/">Forums</a></li>
	<li><a href="/login">Sign In</a></li>
	<li><a href="/register">Register</a></li>
      </ul>
    </div>
% endif
   ${next.body()}

    <div id="pagefooter">
      <p>MMLshare.com by James O'Doherty. <br>
        ppmck by Manbow-J, release 9 by h7, 9 ex5 by BouKiCHi<br>
        FlashNSF by <a href="http://p1xl.com/fun/flashnsf/">p1xl</a>.<br>
        Have fun!</p>
    </div>
  </body>


</html>
  

<%def name="header()">
<script type="text/javascript" src="/static/flashnsf/js/swfobject.js">
</script>
</%def>

<%def name="bodyattrs()">
</%def>
