<%inherit file="one-column.html"/>
<div id="pagebody">
  <h3>Recent Comments</h3>
  <table>
    % for comment in comments:
    <tr><td><b><i><a href="/tracks/view/${comment['track_id']}">${comment['track_title']}</a></i></b></td></tr>
    <tr><td><b>${comment['author']|h}</b> on ${comment['date']|h}</td></tr>
    <tr><td>${comment['message']|h}</td></tr>
    % endfor
  </table>
</div>

<%def name="header()">
</%def>

<%def name="bodyattrs()">
</%def>
