<%inherit file="base.html" />
<div id="pagecontent" style="margin: 0 20%;">
<h2>Introduction</h2>
<p>Welcome to MMLShare, the site where you can edit, play, and share Music Macro Language (MML) for the NES right in your browser. This site's mml compiling features are backed by the latest 9a Ext2 version of ppmck, giving you total control over your NES sound. We've also thrown in Bucky's DPCM library of samples for everyone to use until we add support for user uploaded samples.</p>

<p>All you have to do is register an account and add a new track in the My Tracks section.</p>
  
<p>If you're not familiar with MML, check out <a href="http://en.wikipedia.org/wiki/Music_Macro_Language">The Wikipedia Page</a> and the <a href="http://www.nullsleep.com/treasure/mck_guide/">beginner's guide</a> by nullsleep.</p>

</div>
