<%inherit file="one-column.html"/>
<div id="pagecontent" style="margin: 0 30%;">
<h2>Sign In</h2>
<form name="login" method="POST" action="/doLogin">
<table border="0">
<tr><td>Username: </td><td><input type="text" name="username"></td></tr>
<tr><td>Password: </td><td><input type="password" name="password"></td></tr>
</table>
<div><input type="submit" value="Sign In"></div>
</form>
</div>

