<%inherit file="one-column.html"/>
<div id="pagecontent" style="margin: 0 30%;">
<h2>Register</h2>
<div style="color: red">
${error}
</div>
<form name="register" method="POST" action="/register">
<table border="0">
<tr><td>Username: </td><td><input type="text" name="username" value="${newuser['username']}"></td></tr>
<tr><td>E-Mail address: </td><td><input type="text" name="email" value="${newuser['email']}"></td></tr>
<tr><td>Password: </td><td><input type="password" name="password" value=""></td></tr>
</table>
<div><input type="submit" value="Register"></div>
</form>
</div>

