<%inherit file="base.html" />
    <div id="pagecontent" style="margin: 0 30%;">
			<h2>${user['username']}'s Samples</h2>
			  <p><a href="javascript:upload_sample()">Upload New Sample</a></p>
        <table style="clear:both;" width="100%" class="listing"><tr style="background: #f9f9f9;"><td width="50%">Name</td><td>Instrument</td><td>Game</td></tr>
        <% i = 0 %>
        % for row in samples:

        <tr
        %if i % 2:
        style="background: #f9f9f9"
        %endif
        id="${row['_id']}">
        <td>${row['name']|h}</td><td>${row['instrument']|h}</td><td>${row['game']|h}</td>
        </tr>
        <% i+= 1 %>
        % endfor
        
        </table>
        % if limit < count:
        Pages: 
        <% 
          i = 1
          o = 0
        %>
        % while o<count:
          % if offset in range(o, o+limit):
          <b>${i}
          % else:
          <a href="/samples/mine/?offset=${o}&amp;limit=${limit}">${i}</a> 
          % endif
          <% 
            i += 1 
            o += limit
          %>
        % endwhile
        % endif
        
    </div>
    
<div id="upload" style="margin: 0 30%;">
<h2>Upload Sample</h2>
<form enctype="multipart/form-data" method="POST" action="/samples/upload" name="upload">
<h3>Sample File</h3>
<p>Filename: <input type="file" name="samplefile"></p>
<h3>Sample Information</h3>
<table width="90%">
<tr><td>Name:</td><td><input type="text" name="name" /></td></tr>
<tr><td>Instrument:</td><td><input type="text" name="instrument" /></td></tr>
<tr><td>Game:</td><td><input type="text" name="game" /></td></tr>
</table>
<p style="text-align: right">
<input type="button" value="Cancel" onclick="cancel()">
| <input type="submit" value="Upload"></p>
</p>
</form>
</div>
    
<%def name="header()">
<style type="text/css">
#upload {
  display: none;
}
</style>
<script type="text/javascript">
function upload_sample() {
  $('#pagecontent').css('display', 'none');
  $('#upload').css('display', 'block');
}

function cancel() {
  $('#upload').css('display', 'none');
  $('#pagecontent').css('display', 'block');
}

</script>
</%def>
