<%def name="player(oid)">
<div id="container${oid}" class="player">
<div id="player0">
</div>
</div>
</%def>

<%def name="header(oid)">
<script type="text/javascript">

var p_id = 0;
function enable_player() {
  var params = {
   menu: "false",
   scale: "noScale",
   allowFullscreen: "true",
   allowScriptAccess: "always",
   bgcolor: "#291909",
   align: "tl",
   salign: "tl"
  };
  var attributes = {
   id:"flashnsf"
  };
  swfobject.embedSWF("/static/flashnsf/flashnsf.swf", "player" + p_id, 
  "300", "44", "10.0.0", "expressInstall.swf", 
  {file:"/tracks/nsf/${oid}"}, 
  params, attributes);
}

function disable_player() {
	p_id++;
	$('#container${oid}').html('<div id="player' + p_id + '"></div>');
}

</script>

</%def>
