<%inherit file="base.html" />
    <div id="pagecontent" style="margin: 0 30%;">
			<h2>${user['username']}'s Track Listing</h2>
			  <p><a href="/tracks/add">Add New Track</a></p>
        <table style="clear:both;" width="100%" class="listing"><tr style="background: #f9f9f9;"><td></td><td width="50%">Title</td><td>Artist</td><td>Date</td><td>Last Modified</td><td>WIP</td><td></td></tr>
        <% i = 0 %>
        % for row in tracks:

        <tr
        %if i % 2:
        style="background: #f9f9f9"
        %endif
        id="${row['id']}">
        <td><input type="checkbox" name="tracks" value="${row['id']}"></td>
        <td><a href="/tracks/view/${row['id']}" id="t${row['id']}">${row['title']|h}</a></td><td>${row['artist']|h}</td><td>${row['date'].strftime("%d %b %y ")}</td>
<td>${row['last_modified'].strftime("%d %b %y ")}</td>
<td>
    %if row['finished']:
      No
    %else:
      Yes
    %endif
</td>
        <td><a href="/tracks/edit/${row['id']}">Edit</a></td>
        </tr>
        <% i+= 1 %>
        % endfor
        
        </table>
        % if limit < count:
        Pages: 
        <% 
          i = 1
          o = 0
        %>
        % while o<count:
          % if offset in range(o, o+limit):
          <b>${i}
          % else:
          <a href="/tracks/mine/?offset=${o}&amp;limit=${limit}">${i}</a> 
          % endif
          <% 
            i += 1 
            o += limit
          %>
        % endwhile
        % endif
        
        <p style="float: left">With selected: </p>
        <p style="text-align: right">
        <input onclick="remove_tracks()" type="button" value="Remove">
        |
        <input onclick="publish_tracks()" type="button" value="Publish NSF"></p>
        
    </div>

    <form name="publish" action="/tracks/publish" method="POST">
      <div id="hiddenfields">
      </div>
    </form>
    
<%def name="header()">
<style type="text/css">
  #hiddenfields ol {
    list-style-position: inside;
    margin: 0 10%;
    padding: 0;
  }
  
  #hiddenfields li {
    padding: 3px;
    margin: 0;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.17, rgb(237,242,242)),
        color-stop(0.59, rgb(252,252,252))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(237,242,242) 17%,
        rgb(252,252,252) 59%

    );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cecece;
  }
  
  #hiddenfields li:hover {
    cursor: pointer;
  }
</style>
<script type="text/javascript">
function remove_tracks() {
  var tracks_serialized = $('input:checked[name=tracks]').serialize();
  if (!tracks_serialized) {
    alert('Error: no tracks selected.');
    return false;
  }
  if (!confirm("Are you sure you want to remove these tracks?"))
    return false;
  
  $.ajax({
    url: '/tracks/remove',
    data: tracks_serialized,
    type: 'POST',
    dataType: 'json',
    success: function (data) {
      $('input:checked[name=tracks]').parent().parent().css('display', 'none');
    }
  });
}

var toTrack = null;

function add_track(track_id, i) {
  var hidden = '<input type="hidden" name="tracks" value="' + track_id + '">';
  // Disable text selections on the track elements
  $('#hiddenfields').append(hidden);
}

function publish_tracks() {
  var tracks = $('input:checked[name=tracks]');
  if (!tracks.length) {
    alert('Error: no tracks selected.');
    return false;
  }
  for (var i=0; i<tracks.length; i++) {
    add_track(tracks[i].value, i);
  }
  $('form[name=publish]').submit();
}

</script>
</%def>
