<%inherit file="one-column.html"/>
<%namespace name="player" file="track_player.html"/>
<div id="pagebody">
  % if ('track' in rights) and (user['username'] == track['artist']):
  <p class="action_right"><a href="/tracks/edit/${track['id']}">Edit Track</a></p>
  %endif
  <h2>${track['title']|h} by ${track['artist']}</h2>
  <p>${player.player(track['id'])}<br>
  <span style="font-size: 8pt;"><a href="/static/nsf/${track['id']}.nsf">Download NSF file</a></span></p>
  <p>MML:</p>
  <pre class="viewmml">${mml|h}</pre>
  <h3>Comments</h3>
  <table>
    % if 'comments' in track.keys():
    % for comment in track['comments']:
    <tr><td><b>${comment['author']|h}</b> on ${comment['date']|h}</td></tr>
    <tr><td>${comment['message']|h}</td></tr>
    % endfor
    % endif
  </table>
  % if 'comment' in rights:
  <h3>Post Comment</h3>
  <blockquote>
    <form method="POST" action="/tracks/comment">
      <input type="hidden" name="track_id" value="${track['id']}">
      <textarea name="message"></textarea><br />
      <input type="submit" value="Comment">
    </form>
  </blockquote>
  % endif
</div>

<%def name="header()">
${parent.header()}
<script type="text/javascript" src="/static/main.js">
</script>
${player.header(track['id'])}
</%def>

<%def name="bodyattrs()">
onload = "enable_player();";
</%def>
