<%inherit file="one-column.html"/>
<div id="pagecontent" style="margin: 0 30%;">
<h2>Add New Track</h2>
<form name="track" method="POST" action="/tracks/add">
<table border="0">
<tr><td>Title: </td><td><input type="text" name="title" value=""></td></tr>
</table>
<div><input type="submit" value="Add Track"></div>
</form>
</div>

