<%inherit file="one-column.html"/>
<%namespace name="player" file="track_player.html"/>

<div class="editbox">
<h2>${track_action}</h2>

<form name="mml" id="track" method="POST" action="#">
<input type="hidden" name="track_id" value="${track_id}">
<div style="float: right;"><input id="savebutton" type="button" onclick="save()" name="Save" value="Save" /></div>
<div>Title: <input type="text" name="title" size="100" value="${track['title']|h}"></div>
<div style="float: right">
${player.player(track_id)}
</div>
<div>
<div style="clear: both"></div>
<div style="float: right">Line No: <span id="line_number"></span></div>
<input type="button" value="Insert Sample" onclick="open_sample_browser()">
</div>
<div>
<textarea id="editbody" name="body">
${track['body']|h}
</textarea>
</div>
</form>
</div>

<div id="message">
<h1>Error: Whatever</h1>
</div>

<div id="samples">
<input style="clear: both; float: right" type="button" value="Insert Sample" onclick="insert_selected_sample()">
<input style="float: right; margin-right: 30px;" type="button" value="Cancel" onclick="close_sample_browser()">
<div style="clear: both;"></div>
<table class="listing">
<tr><td>
<form name="samples">
<h2>Instrument</h2>
<select multiple name="instruments">
</select>
</td><td>
<h2>Game</h2>
<select multiple name="games">
</select>
</td><td>
</form>
<h2>Samples</h2>
<select multiple name="samples">
</select>
</td></tr>
</table>
<input style="clear: both; float: right" type="button" value="Insert Sample" onclick="insert_selected_sample()">
<input style="float: right; margin-right: 30px;" type="button" value="Cancel" onclick="close_sample_browser()">
</div>


<%def name="header()">
<link rel="stylesheet" type="text/css" href="/static/edit.css">
<script type="text/javascript" src="/static/shortcut.js">
</script>
<script type="text/javascript" src="/static/edit.js">
</script>
${parent.header()}
${player.header(track_id)}
</%def>

<%def name="bodyattrs()">
onload = "disable_savebutton(); init();";
</%def>
