<%inherit file="base.html" />
<div id="pagecontent" style="margin: 0 30%;">
  <h2>Track Listing</h2>
  <table width="100%" class="listing"><tr style="background: #f9f9f9;"><td width="50%">Title</td><td>Artist</td>
  
  %if not finished:
  <td>Created</td><td>
  Modified
  </td></tr>
  %else:
  <td>Date Finished</td>
  %endif
    <% i = 0 %>
    % for row in tracks:
      %if not i % 2:
        <tr>
      %else:
        <tr style="background: #f9f9f9">
      %endif
      <td><a href="/tracks/view/${row['id']}">${row['title']|h}</a></td><td>${row['artist']|h}</td>
     % if not finished: 
      <td>${row['date'].strftime("%d %b %Y ")}</td>
      <td>${row['last_modified'].strftime("%d %b %Y ")}</td>
    % else:
      <td>${row['last_finished'].strftime("%d %b %Y ")}</td>
      %endif
      
      </tr>

      <% i+= 1 %>
    % endfor
  </table>
  % if limit < count:
    Pages: 
    <% 
      i = 1
      o = 0
    %>
    % while o<count:
      % if offset in range(o, o+limit):
      <b>${i}</b>
      % else:
      <a href="/tracks/?offset=${o}&amp;limit=${limit}">${i}</a> 
      % endif
      <% 
        i += 1 
        o += limit
      %>
    % endwhile
  % endif
</div>

